.header-1 {
    display: flex;
    height: 50px;
    justify-content: space-between;
}

.header_user {
    padding: 30px;
    height: 50px;
    width: auto;
    text-align: center;
    overflow: hidden;
    align-items: center;
    display: flex;
    color: #000000;
}

.user {
    color: #000;
}

.header_content {
    display: flex;
    height: 50px;
    justify-content: center;
    align-items: center;
}
.contact_info {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info_title {
    margin-top: 20px;
    padding-right: 36px;
    font-size: 17px;
}

.currency_unit .VND {
    height: 40px;
    width: 40px;
    border: none;
    background-color: #fff;
    border: 1px solid #e8e8e8;
}

/* =================Header-2===================== */
.header-2 {
    display: flex;
    width: 100%;
    height: auto;
    justify-content: space-between;
    align-items: center;
}

/* =================== Social=================== */
.list {
    display: flex;
}
.list_item {
    padding: 0px 4px;
}

/* =============Container cart=============== */
.container_cart {
    width: 100px;
    height: 100px;
    position: relative;
}

.cart_header {
    position: absolute;
    right: 41px;
    top: 10px;
    font-size: 40px;
    color: #7fcbc9;
}

.cart_number {
    font-size: 20px;
    background-color: #7fcbc9;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    position: absolute;
    padding: 0px 10px;
    top: 16px;
}
