.hotDeal {
    margin-bottom: 100px;
}

.content_hotDeal {
    text-align: center;
}

.line_hotDeal {
    border-top-width: 2px;
    width: 69px;
    margin: 0px auto;
    margin-bottom: 20px;
}

.hotDeal_title {
    color: #7fcbc9;
}

.hotDeal_introduce {
    display: flex;
    justify-content: space-around;
}

.hotDeal_info {
    display: flex;
    flex-direction: column;
}

.hotDeal_desc {
    text-align: center;
}

.hotDeal_price {
    font-size: 20px;
    color: #7fcbc9;
}

.hotDeal_desc {
    margin-top: 4px;
}
