.container_form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.register_form {
    display: flex;
    flex-direction: column;
    width: 650px;
    margin: auto;
    background-color: #fff;
    box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
    padding: 40px 55px 45px 55px;
    border-radius: 15px;
    transition: all 0.3s;
}

.register_title {
    text-align: center;
}

.register_form .email {
    width: 100%;
    margin-bottom: 40px;
    margin-top: 30px;
}

.register_form input {
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: 8px;
    width: 100%;
    margin-bottom: 40px;
}

.btn_register {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px auto;
}
.btn_registerForm {
    color: #fff;
    width: 140px;
    height: 40px;
    border-radius: 8px;
    background-color: #2c98e0;
    margin-bottom: 40px;
}

.register_convert a {
    text-decoration: none;
    cursor: pointer;
}
