.search-container input {
    width: 200px;
    height: 40px;
    border: 1px solid #e8e8e8;
}
.search-container {
    position: relative;
}

.search-container ::placeholder {
    padding: 10px;
    font-size: 14px;
}

.icon_search {
    position: absolute;
    right: 0px;
    top: 6px;
}
